@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400&display=swap");
@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");

body {
  position: relative;
  background: #fff6ee;
}
.notScroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  touch-action: none;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #25252594;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1000000;
}
.resp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin-bottom: 45px;
  color: #90aeb2;
}
h5 {
  font-weight: 100;
  font-size: 25px;
  font-family: "League Spartan", sans-serif;
}
#wrap {
  width: 100%;
  overflow: hidden;
}

.nav_360 {
  display: none;
}
/* HEADER */
header {
  height: 100px;
  padding: 20px;
  position: fixed;
  width: 100%;
  /* background-color: #ffffff; */
  backdrop-filter: blur(5px);
  /* border: 1px dashed #f47e2f; */
  z-index: 1000;
}
header nav {
  width: 36%;
}
header .logo_360 {
  display: none;
}
header .hamburger {
  display: none;
}
header nav a::after {
  content: "";
  position: relative;
  height: 2px;
  background: #f47e2f;
  display: block;
  width: 0%;
  z-index: -1;
  transition: all 0.5s;
  top: 90%;
}
header nav ul a:hover::after {
  width: 100%;
}
header .search_text {
  font-weight: 100;
  font-size: 0.9em;
  overflow: hidden;
  width: 180px;
  height: 22px;
  position: relative;
}

header .search_text input {
  border: 0;
  border-bottom: 1px solid #2f4842;
  border-radius: 1px;
  position: absolute;
  right: -200px;
  background-color: transparent;
  transition: all 1s;
}
header .search_text input.active {
  right: 0;
}

header .search_text input:focus {
  outline: none;
}
header .icon {
  width: 3%;
}
/* SECTION01 */
main .sect01 {
  margin-bottom: 450px;
  background-color: #fff;
  justify-content: space-between;
  position: relative;
}
main .sect01 .sect01_bg {
  display: none;
}
main .sect01 .title_box {
  position: absolute;
  top: 50%;
  transform: translate(25%, -100%);
  z-index: 10;
}
svg {
  width: 800px;
}
svg text {
  font-family: "League Spartan", sans-serif;
  font-size: 6em;
  font-weight: 300;
  transform: translateY(80%);
  stroke: #37514d;
  stroke-width: 2px;
  stroke-dasharray: 780px;
  /* stroke-dashoffset: 0px; */
  fill: transparent;
  animation: stroke 4s linear infinite;
  animation-delay: 2s;
}
@keyframes stroke {
  0% {
    stroke-dashoffset: 780px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* main .sect01 .sect01-slide {
  margin-left: auto;
  z-index: -1;
} */

/* SECTION02 */
main .sect02 {
  position: relative;
}
main .sect02 .bg01 {
  display: none;
}
main .sect02 h1 {
  background: url(../image/sect02_underline.svg) no-repeat bottom;
}
main .sect02 h2 {
  color: #f7a685;
}

main .sect02 article > div {
  padding: 0 55px;
}
main .sect02 .swiper-button-next,
main .sect02 .swiper-button-prev {
  visibility: hidden;
}
main .sect02-slide:hover .swiper-button-next,
main .sect02-slide:hover .swiper-button-prev {
  visibility: visible;
}

main .sect02 .signature {
  margin-bottom: 90px;
}
main .sect02 .signature div h5 {
  margin: 20px 0 10px 0;
  /* display: block; */
}
main .sect02 .signature div img {
  border: 1px solid #f7a685;
}
main .sect02 .signature p {
  font-size: 20px;
  font-family: "SCoreDream";
  /* display: block; */
}
main .sect02 .items {
  /* margin-top: 100px; */
  background: #f7a685;
  flex-wrap: wrap;
  width: 100%;
  font-size: 25px;
  /* text-align: center; */
  border: 1px solid #fff;
}
main .sect02 .items > div {
  width: calc(100% / 8);
  padding: 0;
  overflow: hidden;
}
main .sect02 .items > div:hover img {
  scale: 1.2;
}
main .sect02 .items div img {
  width: 100%;
  transition: all 0.3s;
}
main .sect02 .items div {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .sect02 .sect02-slide02 {
  display: none;
}
/* SECTION03 */
main .sect03 {
  margin-top: 450px;
  /* background: #fff; */
}
main .sect03 .bg03 {
  display: none;
}
main .sect03 h1 {
  background: url(../image/sect03_underline.svg) no-repeat bottom;
}
main .sect03 .sect03-slide article {
  margin-right: 40px;
  width: calc((100vw - 600px) / 2);
}
main .sect03 .sect03-slide article a > div {
  width: 100%;
  display: flex;
}
main .sect03 .sect03-slide article > div div:first-child {
  /* flex: 50%; */
  width: 60%;
}
main .sect03 .sect03-slide article img {
  width: 100%;
}
main .sect03 .sect03-slide article:first-child {
  margin-left: 40px;
}
main .sect03 h5 {
  margin-bottom: 15px;
  font-family: "SCoreDream";
  font-weight: 200;
}

main .sect03 .sect03-slide article a > div:first-child {
  margin-bottom: 30px;
}
main .sect03 .sect03-slide article a > div div:nth-child(2) {
  width: 370px;
  text-align: center;
}
main .sect03 .sect03-slide article a > div {
  border-radius: 200px;
  overflow: hidden;
  position: relative;
}

main .sect03 .sect03-slide article:nth-child(1) a > div:first-child,
main .sect03 .sect03-slide article:nth-child(2) a > div:nth-child(2),
main .sect03 .sect03-slide article:nth-child(3) a > div:first-child,
main .sect03 .sect03-slide article:nth-child(4) a > div:nth-child(2) {
  border: 1px solid #f7a685;
}

main .sect03 .sect03-slide article:nth-child(2) a > div:first-child,
main .sect03 .sect03-slide article:nth-child(1) a > div:nth-child(2),
main .sect03 .sect03-slide article:nth-child(4) a > div:first-child,
main .sect03 .sect03-slide article:nth-child(3) a > div:nth-child(2) {
  border: 1px solid #86a5a8;
}
main .sect03 .sect03-slide .deco {
  height: 3%;
  z-index: 10;
  width: 0%;
  position: absolute;
  bottom: 10%;
  background: #f47e2f90;
  transition: all 1s;
}
main .sect03 .sect03-slide a:hover .deco {
  width: 100%;
}
main .sect03 .sect03-slide02 {
  display: none;
}
/* SECTION04 */
main .sect04 {
  margin-top: 450px;
  font-family: "SCoreDream";
}
main .sect04 h1 {
  background: url(../image/sect04_underline.svg) no-repeat bottom;
}
main .sect04 h3 {
  font-weight: 300;
}
main .sect04 > div {
  width: 100%;
  flex-wrap: wrap;
}
main .sect04 article {
  width: calc(100% / 2);
  height: 90vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .sect04 article:first-child {
  background: #f7a685;
}
/* main .sect04 article:first-child div:first-child {
  flex: 2;
} */
main .sect04 article:first-child div:nth-child(2) {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .sect04 article:first-child div:nth-child(2) h3 {
  margin-bottom: 35px;
}
main .sect04 article:last-child {
  background: #ffc797;
}
main .sect04 article:last-child div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1.5;
}
main .sect04 article:last-child div:last-child {
  display: flex;
  flex: 2;
}
main .concept {
  position: relative;
  border-top: 1px solid #eee6de;
  border-bottom: 1px solid #eee6de;
}
main .concept video,
main .concept img {
  width: 100%;
}
/* SECTION05 */

main .sect05 {
  margin: 450px 0;
  font-family: "SCoreDream";
  position: relative;
}
main .sect05 .bg02 {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-5%);
  background: #f7d0ad;
  z-index: -1000000;
}
main .sect05 h1 {
  background: url(../image/sect05_underline.svg) no-repeat bottom;
}
main .sect05 .news {
  flex-direction: column;
}
main .sect05 .news > div:first-child {
  justify-content: unset;
}
main .sect05 .num {
  width: 45%;
  font-size: 18em;
  font-weight: 200;
  font-family: "League Spartan", sans-serif;
  color: #f47e2f;
  text-align: center;
  line-height: 50%;
  display: none;
}
main .sect05 .num .years {
  font-size: 100px;
}
main .sect05 .news_card {
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
main .sect05 .news_card .resp {
  align-items: flex-start;
  width: 100%;
}
main .sect05 article {
  width: 315px;
  position: relative;
  margin-right: 60px;
}
main .sect05 article:last-child {
  margin: 0;
}
main .sect05 article div:first-child {
  background: #f7a685;
  position: absolute;
  left: 7%;
  width: 25%;
  height: 85px;
  padding: 5%;
  line-height: 130%;
  font-size: 18px;
  font-weight: 200;
  color: #eee6de;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .sect05 article h4 {
  margin: 20px 0 10px 0;
  font-weight: 300;
  font-size: 25px;
}
main .sect05 .icon_more a {
  width: 135px;
  height: 35px;
  background: #f7a685;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee6de;
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
  margin: 20px 20px 0 auto;
  /* margin-top: 20px;
  margin-left: auto; */
}
/* SECTION06 */

main .sect06 h1 {
  background: url(../image/sect06_underline.svg) no-repeat bottom;
}
main .sect06 > div {
  width: 100%;
  flex-wrap: wrap;
}
main .sect06 > div div {
  width: calc(100% / 4);
  overflow: hidden;
}
main .sect06 > div div img {
  width: 100%;
  transition: all 0.3s;
}
main .sect06 > div div:hover img {
  scale: 1.15;
}
main .sect06 .resp div:last-child {
  display: none;
}
/* FOOTER */

footer {
  background: #f47e2f;
  color: #eee6de;
  height: 100%;
}
footer a:hover {
  color: #fff;
}
footer .nav_box {
  width: 55%;
  align-items: flex-start;
}
footer .nav_box p:first-child {
  margin-bottom: 30px;
}
footer .nav_f {
  justify-content: flex-start;
}
footer .nav_box li {
  margin-bottom: 15px;
}
footer .nav_box img {
  display: inline-block;
  margin-right: 20px;
}
footer .nav_box div:nth-child(3) p {
  display: inline-block;
}
footer > div:first-child {
  padding: 85px 55px;
  border-bottom: 1px solid #eee6de;
  align-items: flex-start;
}
footer > div:last-child {
  padding: 15px 0;
  width: 100%;
  text-align: center;
}
footer .mail_f {
  width: 60%;
  border: 1px solid #eee6de;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .nav_box .mail_f p,
footer .nav_box .mail_f img {
  margin: 0;
}
footer .icon_f {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .nav_box div:last-child {
  align-self: center;
}
footer .nav_box div:last-child img {
  margin: 0;
}
footer .nav_box > div:last-child img:first-child {
  margin-bottom: 20px;
}

/* --------------------------RESPONSIVE---------------------------- */
/* 360px */
@media screen and (max-width: 689px) {
  #wrap {
    margin: 0 auto;
    width: 100%;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .nav_360 {
    display: block;
    width: 80vw;
    height: 100vh;
    position: fixed;
    right: -100%;
    padding: 45px 20px 45px 45px;
    z-index: 100000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f47e2f;
    color: #eee6de;
    transition: all 0.3s;
  }
  .nav_360.active {
    right: 0%;
  }
  .nav_360 ul {
    display: flex;
    flex-direction: column;
  }
  .nav_360 ul li {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .nav_360 .icon_m {
    display: flex;
    justify-content: flex-end;
  }
  .nav_360 .icon_m a {
    margin-left: 10px;
  }

  /* HEADER */
  header {
    width: 100%;
    /* width: 360px; */
    height: 36px;
    padding: 5px 20px;
    transform: translateY(20px);
  }
  header .logo_1920,
  header nav,
  header .icon {
    display: none;
  }
  header .logo_360 {
    display: block;
  }
  /* header .logo_360 img {
    width: 140%;
  } */
  header .hamburger {
    display: block;
    width: 20px;
    height: 15px;
    position: relative;
    cursor: pointer;
  }
  header .hamburger span {
    height: 1px;
    width: 100%;
    background: #2f4842;
    display: block;
    position: absolute;
    border-radius: 2px;
  }
  header .hamburger span:nth-child(1) {
    top: 0;
  }
  header .hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header .hamburger span:nth-child(3) {
    bottom: 0;
  }
  header .nav_1920 {
    display: none;
  }

  /* SECTION01 */
  main .e_box {
    height: 15vh;
  }
  main .sect01 {
    margin-top: 15vh;
    /* display: unset; */
    position: relative;
  }
  main .sect01 .sect01_bg {
    display: block;
    z-index: -100000;
    background: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: -200px;
  }
  main .sect01 .sect01-slide img {
    width: 100%;
  }
  main .sect01 .sect01-slide {
    transform: translateX(0%);
  }
  main .sect01 .title_box {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .sect01 svg {
    width: 336px;
  }
  main .sect01 svg text {
    font-size: 55px;
    stroke-width: 1px;
  }
  /* SECTION02 */
  main .sect02 .bg01 {
    bottom: -3%;
  }
  main .sect02 h1 {
    background: url(../image/sect02_underline\(m\).svg) no-repeat bottom;
  }
  main .sect02 h2:nth-of-type(2) {
    color: #fff;
  }
  main .sect02 article > div {
    padding: 0 20px;
  }
  main .sect02 .signature p {
    font-size: 10px;
  }
  main .sect02 .sect02-slide {
    overflow: unset;
  }
  main .sect02 .swiper-button-next,
  main .sect02 .swiper-button-prev {
    visibility: visible;
    scale: 0.6;
    /* top: var(--swiper-navigation-top-offset, 90%); */
  }
  main .sect02 .swiper-slide {
    width: 100%;
  }
  main .sect02 .signature div img {
    width: 100%;
  }
  main .sect02 .swiper-button-next,
  .sect02 .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -15px);
    left: auto;
    color: #f47e2f;
  }
  main .sect02 .swiper-button-prev,
  .sect02 .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -15px);
    right: auto;
    color: #f47e2f;
  }
  main .sect02 .signature {
    margin-bottom: 50px;
  }
  main .sect02 .items {
    display: none;
  }
  main .sect02 .sect02-slide02 {
    display: block;
  }
  main .sect02 .sect02-slide02 .swiper-wrapper {
    width: 100%;
  }
  /* main .sect02 .sect02-slide02 .swiper-slide {
    width: 45%;
  } */
  main .sect02 .sect02-slide02 .swiper-slide a {
    display: inline-block;
    width: 100%;
  }
  main .sect02 .sect02-slide02 .swiper-slide img {
    margin-bottom: 10px;
    width: inherit;
    border: 1px solid #f7a685;
  }
  main .sect02 .sect02-slide02 .swiper-slide p {
    text-align: center;
    font-size: 15px;
  }
  main .sect02 .bg01 {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: -3%;
    left: 0%;
    background: #f7a685;
    z-index: -1000000;
    display: block;
  }
  /* SECTION03 */
  main .sect03 h1 {
    background: url(../image/sect03_underline\(m\).svg) no-repeat bottom;
  }
  main .sect03 {
    position: relative;
  }
  main .sect03 .bg03 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-48%);
    height: 150%;
    width: 100%;
    background: #ffc797;
    z-index: -100;
  }
  main .sect03 .sect03-slide {
    display: none;
  }
  main .sect03 .sect03-slide02 {
    display: block;
  }
  main .sect03 .sect03-slide02 .swiper-wrapper {
    width: 100%;
  }
  main .sect03 .sect03-slide02 .swiper-slide {
    width: 70%;
    background: #fff;
    text-align: center;
    /* padding-bottom: 20px; */
  }
  main .sect03 .sect03-slide02 .swiper-slide > div:nth-child(2) {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .sect03 .sect03-slide02 img {
    width: 100%;
  }
  main .sect03 .sect03-slide02 h5 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  main .sect03 .sect03-slide02 p {
    font-size: 10px;
  }
  main .sect03 .swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    );
  }
  main .sect03 .swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    );
  }
  main .sect03 .sect03-slide02 .swiper-horizontal > .swiper-scrollbar,
  main .sect03 .sect03-slide02 .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: relative;
    left: var(--swiper-scrollbar-sides-offset, 50%);
    transform: translateX(-50%);
    bottom: var(--swiper-scrollbar-bottom, -30px);
    top: var(--swiper-scrollbar-top, auto);
    z-index: 50;
    height: var(--swiper-scrollbar-size, 6px);
    width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 15%));
  }
  main .sect03 .sect03-slide02 .swiper-scrollbar {
    background: #f47e2f4f;
  }
  main .sect03 .sect03-slide02 .swiper-scrollbar-drag {
    background: #f47e2f;
  }
  /* SECTION04 */
  main .sect04 h1 {
    background: url(../image/sect04_underline\(m\).svg) no-repeat bottom;
  }
  main .sect04 .concept {
    display: block;
    width: 100%;
    padding: 0 20px;
    border: 0;
  }
  main .sect04 .concept article {
    width: inherit;
    height: auto;
  }
  main .sect04 .concept article:first-child > div:nth-child(2) {
    flex: unset;
    height: 170px;
    font-weight: 200;
  }
  main .sect04 .concept article:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
  main .sect04 h3 {
    font-size: 13px;
  }
  main .sect04 article:first-child div:nth-child(2) h3 {
    margin-bottom: 15px;
  }
  main .sect04 p {
    font-size: 10px;
  }
  main .sect04 article:last-child div:nth-child(1) {
    height: 160px;
    flex: unset;
  }
  /* SECTION05 */
  main .sect05 h1 {
    background: url(../image/sect05_underline\(m\).svg) no-repeat bottom;
  }
  main .sect05 {
    position: relative;
    margin: 270px 0;
  }
  main .sect05 article h4 {
    font-size: 15px;
  }
  main .sect05 article p {
    font-size: 12px;
  }
  main .sect05 .num {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 125px;
    font-weight: 300;
    z-index: 10;
    width: fit-content;
  }
  main .sect05 article {
    width: 190px;
    margin-right: 30px;
  }
  main .sect05 article img {
    width: 100%;
  }
  main .sect05 .sect05-slide {
    /* transform: translateX(30%); */
    width: 100%;
    padding: 0 20px;
  }
  main .sect05 .news_card {
    width: 100%;
  }
  main .sect05 article div:first-child {
    height: 60px;
  }
  main .sect05 .icon_more a {
    font-size: 12px;
    font-weight: 200;
    width: 65px;
    height: 20px;
  }
  .sect05 .sect05-slide {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
  }
  /* SECTION06 */
  main .sect06 h1 {
    background: url(../image/sect06_underline\(m\).svg) no-repeat bottom;
  }
  main .sect06 .resp div:last-child {
    display: block;
  }
  main .sect06 > div div {
    width: calc(100% / 3);
    overflow: hidden;
    border: 1px solid #fff;
  }
  /* FOOTER */
  footer > div:first-child {
    padding: 20px;
  }
  footer .resp > div:first-child {
    width: 110px;
  }
  footer .resp > div:first-child img {
    width: 100%;
  }
  footer .nav_box {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    width: auto;
  }
  footer .nav_box > div:nth-child(2) ul {
    display: flex;
  }
  footer .nav_box > div:nth-child(2) ul li {
    margin: 0 4px 9px 0;
    font-size: 6px;
  }

  footer .nav_box p:first-child {
    margin-bottom: 9px;
  }
  footer .nav_box > div:nth-child(2) p,
  footer .nav_box > div:nth-child(3) p {
    margin-bottom: 4px;
  }
  footer .nav_box > div:nth-child(3) img {
    width: 4px;
    margin-right: 9px;
  }
  footer .nav_box > div:nth-child(3) ul li {
    font-size: 6px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
  }

  footer .mail_f,
  footer .icon_f {
    display: none;
  }
  footer > div:last-child {
    padding: 7px 0;
    width: 100%;
    text-align: center;
    font-size: 5px;
  }
}
